* {box-sizing:border-box}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: 10px auto;
}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%; 
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0px; 
  border-radius: 9px 0 0 9px;
}


.prev:hover, .next:hover {
  background-color: rgba(149, 149, 149, 0.395);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.product-box {
    width: 300px; 
    height: 350px;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 10px; 
    float: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    transition: all 0.3s ease; 
  }
  .product-box:hover {
    width: 310px; 
  }
  .product-box img {
    width: 80%; 
    height: 80%; 
    border-radius: 5px; 
  }
  
  .product-box h2 {
    font-size: 18px; 
    margin-top: 5px; 
    margin-bottom: 10px; 
  }
  
  .product-section {
    clear: both;
    margin-top: 40px; 
  }