<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../Static/cabecalho-rodape.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='cabecalho-rodape.css')}}">
    <title>Cabeçalho e Rodapé</title>
</head>
<body>
    <header>
        <div class="container-header">
            <div class="container-header__parte01">
                <img class="container-header__logo" src="" alt="Logo do Site">
                <ul class="container-header__info">
                    <li><a href="/sobre-nos">SOBRE NÓS</a></li>
                    <li><a href="/fale-conosco">FALE CONOSCO</a></li>
                    <li><a href="/perguntas-frequentes">PERGUNTAS FREQUENTES</a></li>
                    <li><a href="/cadastro"><button>Crie a sua conta ou faça login</button></a></li>
                </ul>
            </div>

            <div class="container-header__parte02">
                <ul class="container-header__menu">
                    <li><button>Smartphones</button></li>
                    <li><button>Notebooks</button></li>
                    <li><button>Câmeras</button></li>
                    <li><button>Tablets</button></li>
                    <li><button>Smartwatches</button></li>
                    <li><button>Acessórios de Áudio</button></li>
                    <li><button>Monitores e TVs</button></li>
                    <li><button>Consoles de Jogos</button></li>
                    <li><button>Impressoras</button></li>
                    <li><button>Roteadores e Redes</button></li>
                </ul>
            </div>
            
        </div>
        
    </header>
    <section>
        <div class="container-content">
            {% block content %}
            {% endblock %}
        </div>

    </section>

    <footer>
        <div class="container-footer">
            <div class="container-footer__imagem">
                <img class="container-footer__logo" src="" alt="Logo do site">
            </div>
            <div class="container-footer__icones">
                <a href="https://www.instagram.com" target="_blank"><img src="icone_instagram.png" alt="Instagram"><p>@GG_HUB_TECH</p></a>
                <a href="https://www.facebook.com" target="_blank"><img src="icone_facebook.png" alt="Facebook"><p>GG_HUB_TECH</p></a>
                <a href="https://www.youtube.com" target="_blank"><img src="icone_youtube.png" alt="YouTube"><p>@GG_HUB_TECH</p></a>
            </div>
        </div>
    </footer>
</body>
</html>