<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../Static/cabecalho-rodape.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{url_for('static', filename='cabecalho-rodape.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>{{campo_titulo}}</title>
</head>
<body>
    <header>
        <div class="container-header">
            <div class="container-header__parte01">
                <a href="/"><img class="container-header__logo" src="" alt="Logo do Site"></a>
                <ul class="container-header__info">
                    <li><a href="/sobre-nos">SOBRE NÓS</a></li>
                    <li><a href="/fale-conosco">FALE CONOSCO</a></li>
                    <li><a href="/perguntas-frequentes">PERGUNTAS FREQUENTES</a></li>
                    <li>
                        {% if campo_cliente == True %}
                        <span class="material-symbols-outlined">person</span><p>{{campo_nome_usuario}}</p>
                        {% else %}
                        <a href="/cadastro-login"><button>Crie a sua conta ou faça login</button></a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="container-header__parte02">
                <ul class="container-header__menu">
                    <li><a href="/categorias/1">Smartphones</a></li>
                    <li><a href="/categorias/2">Notebooks</a></li>
                    <li><a href="/categorias/3">Câmeras</a></li>
                    <li><a href="/categorias/4">Tablets</a></li>
                    <li><a href="/categorias/5">Smartwatches</a></li>
                    <li><a href="/categorias/6">Acessórios de Áudio</a></li>
                    <li><a href="/categorias/7">Monitores e TVs</a></li>
                    <li><a href="/categorias/8">Consoles de Jogos</a></li>
                    <li><a href="/categorias/9">Impressoras</a></li>
                    <li><a href="/categorias/10">Roteadores e Redes</a></li>
                </ul>
            </div>
            
        </div>
        
    </header>
    <section>
        <div class="container-content">
            {% block content %}
            {% endblock %}
        </div>

    </section>

    <footer>
        <div class="container-footer">
            <div class="container-footer__imagem">
                <img class="container-footer__logo" src="" alt="Logo do site">
            </div>
            <div class="container-footer__icones">
                <a href="#" target="_blank"><img src="#" alt="Instagram"><p>@GG_HUB_TECH</p></a>
                <a href="#" target="_blank"><img src="#" alt="Facebook"><p>GG_HUB_TECH</p></a>
                <a href="#" target="_blank"><img src="#" alt="YouTube"><p>@GG_HUB_TECH</p></a>
            </div>
        </div>
    </footer>
</body>
</html>