{% extends "cabecalho-rodape.html" %}
{% block content %}
    <link rel="stylesheet" href="{{url_for('static', filename='carrinho.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="table-container">
    <table class="tabela">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Total</td>
                <td id="total"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <button class="comprar-tudo">Comprar Tudo</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- <script>
function alerta(quantidade, callback) {
    var mensagem = `Tem certeza de que deseja excluir ${quantidade} item(s)?`;
    var r = confirm(mensagem);
    if (r == true) {
        if (callback && typeof callback === 'function') {
            callback();
        }
    }
}

function atualizarSubtotal(element) {
    const produtoRow = element.closest('.produto');
    const precoTexto = produtoRow.querySelector('.preco').textContent;
    const preco = parseFloat(precoTexto.replace('R$ ', '').replace(',', '.'));
    const quantidade = parseInt(element.value);
    const subtotal = preco * quantidade;
    produtoRow.querySelector('.subtotal').textContent = `R$ ${subtotal.toFixed(2).replace('.', ',')}`;
    atualizarTotal();
}

function atualizarTotal() {
    let total = 0;
    document.querySelectorAll('.subtotal').forEach(subtotalElement => {
        const subtotalTexto = subtotalElement.textContent;
        const subtotal = parseFloat(subtotalTexto.replace('R$ ', '').replace(',', '.'));
        total += subtotal;
    });
    document.getElementById('total').textContent = `R$ ${total.toFixed(2).replace('.', ',')}`;
}

function removerProduto(element) {
    const quantidade = parseInt(element.closest('.produto').querySelector('.quantidade').value);
    alerta(quantidade, function() { // Passando uma função de retorno de chamada como segundo parâmetro
        const produtoRow = element.closest('.produto');
        produtoRow.remove();
        atualizarTotal();
    });
}

window.onload = atualizarTotal;
</script> -->

<script type="text/javascript">
    function mostrar_carrinho(){
        $.ajax({
            url: '/mostrar_carrinho',
            type: 'GET',
            success: function(itens_carrinho){
                document.querySelector('#tbody').innerHTML = '';
                total = 0;
                for (let i = 0; i < itens_carrinho.length; i++) {
                    const listaProdutos = document.querySelector('#tbody');

                    /* Limpa a tabela antes de adicionar novos dados 
                    - listaClientesElement: é o elemento HTML que representa a tabela (<tbody>)*/

                    // Para cada cliente na lista de clientes, insere uma nova linha (<tr>) na tabela de clientes
                    const linha = listaProdutos.insertRow();
                    /* 
                    - A referência para a nova linha é armazenada na constante linha
                    - insertRow(): é um método que cria e insere uma nova linha (<tr>) na tabela */

                    /* Cria células para os dados do cliente
                    - insertCell(): é um método que cria e insere uma nova célula(<td>) na tabela */
                    const celulaNome = linha.insertCell();
                    const celulaPreco = linha.insertCell();
                    const celulaQuantidade = linha.insertCell();
                    const celulaSubtotal = linha.insertCell();
                    const celulaAcoes = linha.insertCell();

                    const nome = itens_carrinho[i][0];
                    const preco = itens_carrinho[i][1];
                    const quantidade = itens_carrinho[i][2];
                    const id_produto = itens_carrinho[i][3];
                    console.log(id_produto);
                    
                    const subtotal = `R$${preco * quantidade}`;
                    total += preco * quantidade;

                    var inputElement = document.createElement("input");
                    inputElement.type = "number";
                    inputElement.value = id_produto;
                    inputElement.max = 10;
                    inputElement.min = 1;

                    inputElement.addEventListener('change', function() {
                        atualizarQuantidade(id_produto, inputElement.value);
                    });

                    // Preenche as células com os dados do cliente
                    celulaNome.textContent = nome;
                    celulaPreco.textContent = preco;
                    celulaQuantidade.appendChild(inputElement).value = quantidade;
                    celulaSubtotal.textContent = subtotal;

                    // Cria um botão de escluir para cada cliente
                    const botaoExcluir = document.createElement('i');

                    // Adicionar o texto e uma classe ao botão excluir
                    botaoExcluir.className = 'fas fa-trash-alt';

                    botaoExcluir.addEventListener('click', function() {
                        excluirProduto(id_produto);
                    });

                    // Adiciona o botão à célula de ações
                    celulaAcoes.appendChild(botaoExcluir);

                    

                }
                document.querySelector("#total").innerHTML = total;
            },
            error: function(){
                alert(')X ERROOOOOOOOOO X(')
            }
        })
    }

    function atualizarQuantidade(id_produto, novaQuantidade) {
        // Envia uma requisição AJAX para atualizar a quantidade no banco de dados
        $.ajax({
            url: `/addcarrinho/${id_produto}/${novaQuantidade}`,
            type: 'POST',
            data: {
                id_produto: id_produto,
                nova_quantidade: novaQuantidade
            },
            success: function(response) {
                // Atualiza a visualização do carrinho após a atualização da quantidade no banco de dados
                mostrar_carrinho();
            },
            error: function() {
                alert('Erro ao atualizar a quantidade do produto.');
            }
        });
    }

    function excluirProduto(id_produto) {
        // Envia uma requisição AJAX para excluir o produto do carrinho
        $.ajax({
            url: `/excluir-produto/${id_produto}`,
            type: 'POST',
            success: function(response) {
                // Atualiza a visualização do carrinho após a exclusão do produto do banco de dados
                mostrar_carrinho();
            },
            error: function() {
                alert('Erro ao excluir o produto do carrinho.');
            }
        });
    }

    mostrar_carrinho();
</script>

{% endblock %}