<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag-inicial</title>
    <style>
        .carrossel {
            display: flex;
            overflow: hidden;
            width: 300px;
        }
        .carrossel img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>carrossel

<div class="carrossel" id="carrossel">
    <img src="imagem1.jpg" alt="Imagem 1">
    <img src="imagem2.jpg" alt="Imagem 2">
    <img src="imagem3.jpg" alt="Imagem 3">
    <img src="imagem4.jpg" alt="Imagem 4">

</div>

<script>
    var carrossel = document.getElementById('carrossel');
    var images = Array.from(carousel.children);
    var index = 0;

    function rotateImages() {
        images[index].style.order = images.length;
        index = (index + 1) % images.length;
        images.forEach((img, i) => {
            if (i !== index) img.style.order = i;
        });
    }

    setInterval(rotateImages, 2000); 
</script>


<h1>Adicionados recentemente</h1>

<div class="adc-recentemente">
<img src="imagem1.jpg" alt="Imagem 1">
<img src="imagem2.jpg" alt="Imagem 2">
<img src="imagem3.jpg" alt="Imagem 3">


<h1>Mais vendidos</h1>

<div class="mais-vendidos">
<img src="imagem1.jpg" alt="Imagem 1">
<img src="imagem2.jpg" alt="Imagem 2">
<img src="imagem3.jpg" alt="Imagem 3">


</div>

</body>
</html>