<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto_individual</title>

</head>
<body>
    
    <div class="mostrar_produto">
        <div>
            <h1>Nome do produto</h1>
            <h2>R$: 0,00</h2>
            <h3>Disponível</h3>
        </div>
        
        <div class="imagem_produto">
            <img src="" alt="Imagem do produto">
        </div>
    </div>
    
    <input type="text" placeholder="Deixe um comentário">
    <label for="text">Comentários</label>
    <div>
        <!-- Comentários vão aqui -->
    </div>
</body>
</html>

