<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto_individual</title>

    <div class="mostrar_produto">
        <h1>nome do produto</h1>
        
        <div class="imagem_produto">
        <img src="" alt="">
    </div>
        <h2>R$: 0,00</h2>

        <h3>disponível</h3>

    </div>
    
    <input type="text" placeholder="Deixe um comentário">

    <label for="text">Comentários</label>

    <div>



        
    </div>
