{% extends "cabecalho-rodape.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='produtos.css')}}">

<div class="container-prodcategorias">
    <div class="container-prodcategorias__filtro">
        <h1>Categoria</h1>
        <hr>
        <p>Filtros</p>
        <hr>
        <label for="filtro_preco"><input type="radio" id="filtro_preco">Preço</label>
    </div>

    <div class="container-prodcategorias__produtos">
        <div class="container-produto">
            <figure class="container-img"><img src="" alt=""></figure>
            <div class="container-produto__info">
                <h2>Nome do Produto</h2>
                <h3>Preço</h3>
            </div>
            <h1 class="container-produto__avaliacao">Avaliação</h1>
        </div>
    </div>
</div>


{% endblock %}