{% extends "cabecalho-rodape.html" %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> 
<link rel="stylesheet" href="{{url_for('static', filename='produto-individual.css')}}">

    <div class="container-produto">
        <div class="container-produto__img">
            <img src="{{campo_foto}}" alt="Imagem do produto">
        </div>
        
        <div class="container-produto__info">
            <div class="container-textos">
                <h1>{{campo_nome}}</h1>
                <h2>{{campo_avaliacao}}/100</h2>
                <h2>R$ {{campo_preco}}</h2>
                <p>{{campo_descricao}}</p>
            </div>
            <hr>
            <div class="container-btns">
                <a href="/addcarrinho/{{campo_codigo}}/1"><button class="btn-addcarrinho">Adicionar ao Carrinho</button></a>
                <button class="btn-comprar">Comprar</button>
            </div>
        </div>
    </div>
    
    <div class="inputs-comentarios">
        <h1>Envie seu comentário e sua avaliação de 0 a 100</h1>
        <div class="input-comentario">
            <label for="inputComentario"><span class="material-symbols-outlined">chat</span></label>
            <input type="text" id="inputComentario" placeholder="Deixe um comentário">
            <input type="number" id="inputAvaliacao" min="0" max="100" step="10" value="0">
            <button id="btn-comentario" onclick="enviar_comentario()"><span class="material-symbols-outlined">send</span></button>
        </div>
    </div>

    <div class="container-comentarios" id="comentarios">
        <h1>Comentários</h1>
        <!-- <div class="container-comentario">
            <div class="container-comentario__foto">
                <figure>
                    <span class="material-symbols-outlined">person</span>
                </figure>
                <h1>Gabriel Chagas</h1>
            </div>

            <div class="container-comentario__conteudo">
                <p class="conteudo_comentario">Olá sou o Gabriel e gostei muito do produto</p>
                <p class="avaliacao_comentario">98</p>
            </div>
        </div> -->
    </div>

<script type="text/javascript">
    function enviar_comentario(){
        var dados = {
            conteudo_comentario: $('#inputComentario').val(),
            avaliacao: $('#inputAvaliacao').val(),
            id_produto: '{{campo_codigo}}'
        }

        document.querySelector('#inputComentario').value = '';
        document.querySelector('#inputAvaliacao').value = 0;

        $.ajax({
            url: '/enviar_comentario',
            type: 'POST',
            data: JSON.stringify(dados),
            contentType: 'application/json',
            success: function(){
                
            },
            error: function(){
                
            }
        })
    }

    function mostrar_comentarios(){
        $.ajax({
            url: '/mostrar_comentarios/{{campo_codigo}}',
            type: 'GET',
            success: function(lista_comentarios){
                for (let i = 0; i < lista_comentarios.length; i++) {
                    $('#comentarios').append(`
                    <div class="container-comentario">
                        <div class="container-comentario__foto">
                            <figure>
                                <span class="material-symbols-outlined">person</span>
                            </figure>
                            <h1>${lista_comentarios[i]['nome']}</h1>
                        </div>

                        <div class="container-comentario__conteudo">
                            <p class="conteudo_comentario">${lista_comentarios[i]['conteudo']}</p>
                            <p class="avaliacao_comentario">${lista_comentarios[i]['avaliacao']}</p>
                        </div>
                    </div>`);
                }
            },
            error: function(){
                
            }
        })
    }

    mostrar_comentarios();
</script>
{% endblock %}

