{% extends "cabecalho-rodape.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='produtos.css')}}">

<div class="container-prodcategorias">
    <div class="container-prodcategorias__filtro">
        <h1>Categoria</h1>
        <hr>
        <p>Filtros</p>
        <hr>
        <label for="filtro_preco"><input type="radio" id="filtro_preco">Preço</label>
    </div>

    <div class="container-prodcategorias__produtos">
        {% for i in campo_resultado %}
        <a href="/produto-individual/{{i[3]}}" class="produto">
            <div class="container-produto">
                <figure class="container-img"><img src="{{i[1]}}" alt=""></figure>
                <div class="container-produto__info">
                    <h2>{{i[0]}}</h2>
                    <h3>{{i[2]}}</h3>
                </div>
                <h1 class="container-produto__avaliacao">80/100</h1>
            </div>
        </a>
        
        {% endfor %}
    </div>
</div>


{% endblock %}